---
layout: default
---

<div class="home">

  <div class="home-header">
      <img class="img-circle avatar-image" src="{{ site.baseurl }}static/{{ site.avatar }}" alt="Holger Schmeisky"/>
  </div>

  <div class="introduction">
  I am Holger Schmeisky, software craftsman and computer scientist. </p>

  I am into all things software and especially into how softwares influences people and vice-versa, be it users of software or makers of software.
  <p/>
  <p/>
  Check out my <a href="/blog" title="Blog">blog</a>, my <a href="/toolbelt" title="Toolbelt">toolbelt</a> or my connections:
  </div> 

      <div class="account-links">
      {% for account in site.accounts %}
        <a href="{{ account["url"] }}" title="{{ account["name"] }}" class="account-link">
        {{ account[icon] }}
          <i class="fa 
            {% if account["icon"] %} 
              {{ account["icon"] }} 
            {% else %} 
              fa-at 
            {% endif %}"> {{ account["text"] }}</i>
        </a>
      {% endfor %}
    </div>

</div>
